{% extends 'base.html' %}

{% block title %}
<title>Entry|Question Type</title>
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="position-absolute top-50 start-50 translate-middle">
        <input type="submit" name="question_type" class="me-3 btn btn-warning" value="MCQs">
        <input type="submit" name="question_type" class="me-3 btn btn-warning" value="Fill in the Blanks">
        <input type="submit" name="question_type" class="me-3 btn btn-warning" value="True or False">
        <hr>
        <a href="{% url 'topic' semester=semester subject=subject %}" class="btn btn-danger ms-auto">Back</a>
    </div>
</form>

{% endblock %}