{% extends 'base.html' %}

{% block title %}
<title>Entry|Semester</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="col mt-5 pt-5">
        <div class="form-group"></div>
                <select class="form-select" name="semester" onchange="location = this.value">
                    <option selected>Semester</option>
                    {% for semester in semesters %}
                    <option value="{% url 'subject' semester=semester.semester %}">{{semester.semester}}</option>
                    {%endfor%}
                </select>
            <a onclick="window.location.replace(document.referrer)" class="btn btn-danger mt-5">Back</a>
        </div>
    </div>
</div>
{% endblock %}